.main-banner {
    border-radius: 20px;
    height: 400px;
    width: 100%;
    color: white;
    background-size: cover;

    .content {
        align-items: baseline;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.363);

       .title {
           line-height: normal;
       }
    }
}
