.container-images {
    gap: 20px;

    .image {
        border-radius: 15px;
        height: 150px;
        width: 25%;

        img {
            border-radius: 15px;
            height: 150px;
            width: 100%;

            &:hover {
                transform: scale(1.03);
                transition: 0.2s;
            }
        }
    }
}
