.container-images {
    gap: 20px;

    .image {
        border-radius: 15px;
        height: 150px;
        width: calc(100% / 8);

        img {
            background-size: cover;
            border-radius: 15px;
            height: 150px;
            object-fit: cover;
            width: 100%;

            &:hover {
                transform: scale(1.03);
                transition: 0.2s;
            }
        }

        @media only screen and (max-width: 1050px) {
            width: auto;
        }
    }

    @media only screen and (max-width: 1050px) {
        flex-wrap: wrap;
    }
}
