.image-result {
    border-radius: 15px;
    object-fit: cover;
    width: 23%;

    &:hover {
        transform: scale(1.03);
        transition: 0.2s;
    }

    @media only screen and (max-width: 800px) {
        flex-wrap: wrap;
        width: auto;
    }
}
